{% extends 'basic.html' %}
{% block title %} About US  {% endblock %}
{% block body %}
    <section class="container py-2">
        <div class="row">
            <div class="col-md-4 pt-2">
                <div class="card ">
                    <img src="photos/image1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a class="card-text" href="#">Structure of the building available in our</a>
                        <p class="pt-2 "><button type="button" class="btn btn-dark">Learn
                                More</button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pt-2">
                <div class="card ">
                    <img src="photos/image1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a class="card-text" href="#">Structure of the building available in our</a>
                        <p class="pt-2 "><button type="button" class="btn btn-dark">Learn
                                More</button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pt-2">
                <div class="card ">
                    <img src="photos/image1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a class="card-text" href="#">Structure of the building available in our</a>
                        <p class="pt-2 "><button type="button" class="btn btn-dark">Learn
                                More</button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pt-2">
                <div class="card ">
                    <img src="photos/image1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a class="card-text" href="#">Structure of the building available in our</a>
                        <p class="pt-2 "><button type="button" class="btn btn-dark">Learn
                                More</button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pt-2">
                <div class="card ">
                    <img src="photos/image1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a class="card-text" href="#">Structure of the building available in our</a>
                        <p class="pt-2 "><button type="button" class="btn btn-dark">Learn
                                More</button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pt-2">
                <div class="card ">
                    <img src="photos/image1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a class="card-text" href="#">Structure of the building available in our</a>
                        <p class="pt-2 "><button type="button" class="btn btn-dark">Learn
                                More</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
</body>